.triangle {
  display: inline-block;
  &__bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: $color-brand-secondary transparent transparent transparent;
  }
  &__top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 8px 4px;
    border-color: transparent transparent $color-brand-secondary transparent;
  }
}