.c-page {
  background: $color-grey-2;
  margin: 0 auto;
  max-width: 1068px;
  position: relative;
  
  min-height: 100vh;
  text-align: center;
  padding: $global-spacing-unit;
  padding-top: 120px;
  @include mq($from: medium) {
    padding: 0;
    padding-top: 120px;
  }

}