.c-switch-radio {
    padding: 40px;
    overflow: hidden;
    
    &__label {
      display: inline-block;
      width: 100px;
      background-color: lighten($color-grey-light, 35%);
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      text-shadow: none;
      padding: 6px 14px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease-in-out;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    &__label:first-of-type {
      border-radius: 6px 0 0 6px;
    }
  
    &__label:last-of-type {
      border-radius: 0 6px 6px 0;
    }
  
    &__input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
  }
  
  .c-switch-radio input:checked + label {
    background-color: $color-brand-secondary;
    color: $color-white;
    box-shadow: none;
  }