.c-page-head {
  background: linear-gradient($color-brand-primary-light, $color-page-head-background);
  color: $color-page-head;
  padding: $global-spacing-unit;
  text-align: center;
  height: 215px;
}