.c-btn {
  background-color: $color-brand-secondary;
  border: 2px solid $color-brand-secondary;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.2;
  transition: all .3s;
  outline: none;
  color: $color-white;
  font-size: 14px;
  padding: 3px 6px;
  text-transform: uppercase;
  
  &--inverted {
    color: $color-brand-secondary;
    background-color: $color-white;
    border: 2px solid $color-brand-secondary;
  }
  &.o-list-inline__item {
    //line-height: none;
    padding: 0 4px;
    font-size: 12px;
    text-transform: initial;
    line-height: normal;
    
    & > button {
      color: $color-white;
    }
  }
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
}